.features-icons .features-icons-item .features-icons-icon i{
    font-size:3.5rem
}

.features-icons .features-icons-item:hover .features-icons-icon i{
    font-size:3.7rem
}

.features-icons{
    padding-top:4rem;
    padding-bottom:4rem
}

.features-icons .features-icons-item{
    max-width:20rem
}

.features-icons .features-icons-item .features-icons-icon{
    height:4rem
}