h2, p, label, input, select, option, textarea {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-group-actions {
  position: absolute;
  bottom: 0;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.si2 {
  background-image: url('img/bg-showcase-2.jpg');
}

.aws-img {
  background-image: url('img/aws.png');
}

.spring-img {
  background-image: url('img/spring1.png');
}

.showcase .showcase-text {
  padding: 3rem
}

.category_list {
    border: 0;
    border-bottom: 1px;
    border-bottom-color: hsl(0,0%,80%);
    border-bottom-style: solid;
    height: 41px;
    border-radius: 0;
    width: 50%;
}
/* the div inside Select */
.category_list div{
  border: 0;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem
  }
}